.l-contents{
	width: 100%;
	height: auto;

	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			&.-parallax_bg_01{//ここに背景を指定する。
				// background-image: url(../images/bg/header_bg_s.jpg);
				@include mq(tb){
					// background-image: url(../images/bg/top-contents01_bg.jpg);
				}
			}
			&.-parallax_bg_02{//ここに背景を指定する。
				// background-image: url(../images/bg/header_bg_s.jpg);
				@include mq(tb){
					// background-image: url(../images/bg/top-contents02_bg.jpg);
				}
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;
			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;
				}
			}
			&.-text,
			&.-kukaku,
			&.-location-trainBox,
			&.-builtPlanText,
			&.-setsubiText{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.-top-op{
				top: 81%;
				left: 22%;
				transform: translate(-50%, -50%);
				width: 38%;
				@include mq(tb){
					top: 88%;
					left: 18%;
					width: 33%;
				}
				@include mq(pc){
					top: 81%;
					left: 5%;
					width: 38%;
				}
			}
			&.-built-op{
				top: 71%;
				left: 38%;
				transform: translate(-50%, -50%);
				width: 74%;
				@include mq(tb){
					top: 65%;
					left: 28%;
					width: 50%;
				}
				@include mq(pc){
				    top: 68%;
					left: 22%;
					width: 50%;
				}
			}
			&.-built-textArea{
				@include mq(tb){
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					height: auto;
				}
			}

			// 0717追加 ／ 区画図ページ
			&.-kukaku-slider01{
				@include mq(sp){
					top: 25%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&.-kukaku-slider02{
				@include mq(sp){
					top: 75%;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			// 設備・仕様 > 戻るボタン
			// &.-btnArea{ 
			// 	&.-return{
			// 		a{
			// 			display: block;
			// 			width: 20%;
			// 			border-radius: 5px;
			// 			overflow: hidden;
			// 			margin: auto;
			// 			text-align: center;
			// 			box-shadow: 1px 1px gray;
			// 			@include mq(tb){
			// 				width: 10%;
			// 			}
			// 			@include mq(tb-pc1400){
			// 				width: 6%;
			// 			}
			// 		}
			// 	}
			// }
		}
		&.-pc80{
			width: 80%;
			margin: auto;
			@include mq(tb){
				width: 45%;

			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
	&.-textArea{
		width: 90%;
		height: auto;
		margin: auto;
		@include mq(tb){
			width: 100%;
		}
	}
	&.-obi{
        width: 95%;
        margin: auto;
    }
	&.-borderBtm{
		border-bottom: 1px solid black;
	}
}

