.l-contents{
	width: 100%;
	height: auto;
	&.-w1200{
		width: 100%;
		max-width: 1200px;
		margin: auto;
		@include mq(sp){
			width: 95%;
		}
	}
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;
			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;
				}
			}
			&.-kukaku{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.-top-op{
				top: 81%;
				left: 22%;
				transform: translate(-50%, -50%);
				width: 38%;
				@include mq(tb){
					top: 88%;
					left: 18%;
					width: 33%;
				}
				@include mq(pc){
					top: 81%;
					left: 5%;
					width: 38%;
				}
			}
		}
		&.-pc80{
			width: 80%;
			margin: auto;
			@include mq(tb){
				width: 55%;

			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
	&.-textArea{

	}
}

