
.l-slider {
    .access-slider{
        margin: 30px auto auto;
        width: 75vw;
        @include mq(tb){
            margin: 60px auto auto;
            width: 35vw;
        }
        @include mq(pc){
            margin: 145px auto auto;
            width: 35vw;
        }

        .slick-img{
            margin-bottom: 2vh;
        }
    }
}
.slide-arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
.prev-arrow{
    left: -40px;
    width: 0;
    height: 0;
    background: white;
    border-left: 0 solid white;
    border-right: 15px solid #333;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    transition: .5s all;
    &:hover{
        border-right: 15px solid $site-color01;
    }
}
.next-arrow{
    right: -40px;
    width: 0;
    height: 0;
    background: white;
    border-right: 0 solid white;
    border-left: 15px solid #333;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    transition: .5s all;
    &:hover{
        border-left: 15px solid $site-color01;
    }
}

.slick-dots{
    li{
        button{
            &:before {
                transition: .3s all;
                @include mq(tb){
                    font-size: 17px !important;
                    width: 44px !important;
                    height: 44px !important;
                }
            }
            &:hover{
                &:before {
                    color: $site-color01 !important;
                }
            }
        }
    }
}
.slick-active{
    button{
        &:before {
            color: $site-color01 !important;
        }
    }
}